.header-container {
  display: flex;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px;
  padding: 10px auto;
  z-index: 1;
}

#logo {
  margin-left: 10px;
}

#logo img {
  height: 50px;
}

.menu {
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-right: 40px;
}

.men a {
  text-decoration: underline;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

.mission-container {
  top: 69px;
  height: 750px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: black;
}

.mission-img {
  display: flex;
  background-image: url(../resources/img-mission-background.jpg);
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 700px;
}

.mission {
  background-color: black;
  width: 100%;
}

h2,
h4 {
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin: 10px 0;
}

h2 {
  font-size: 32px;
}

h4 {
  font-size: 22px;
}

.tea-container {
  display: flex;
  height: 700px;
  width: 100%;
  background-color: black;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
}

#feature {
  justify-content: center;
  display: flex;
  height: auto;
  flex-direction: column;
  margin-bottom: 20px;
}

.tea-img-container {
  display: flex;
  flex-flow: wrap;
  height: 500px;
  width: 1000px;
  justify-content: center;
  align-content: center;
}

.tea-img {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  justify-content: center;
  align-content: center;
  margin: 10px 10px;
}

.img img {
  height: 200px;
  width: 300px;
  margin: 5px 10px;
}
